{% extends 'template.html.twig' %}
{% block Body %}

    {{ include('fragment/dateJour.html.twig') }}
    <div class="alert alert-info">
        <p class="text text-center"> nbre de note : {{ notes |length }}</p>
        <p> la nte minimal est : {{ min(notes) }}</p>
        <p> la nte maximal est : {{ max(notes) }}</p>

    </div>
<table class="table ">
    {% for note in notes %}

    <tr>

        <td>
            {{ note }}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
{% block pageTitle %}
    voici votre tableau:
{% endblock %}
{% block blockTitle %}
    tableaux
{% endblock %}