{% extends 'template.html.twig' %}

{% block blockTitle %}LISTE DES PERSONNES!{% endblock %}

{% block Body %}
    <div class="row">
{% for personne in personnes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ personne.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personne.name }}{{ personne.firstName }}</h6>
            <p class="card-text">{{ personne.age }}.</p>
            <a href="{{ path('personne.detail',{'id':personne.id}) }}" class="card-link">details</a>
            <a href="{{ path('personne.delete',{'id':personne.id}) }}" class="card-link">Delete</a>

        </div>
    </div>
{% endfor %}
    </div>
{% endblock %}
